@charset "utf-8";

/*侧边沟通工具样式20190822*/
.slidebar {
    position: fixed;
    top:300px;
    transform: translateY(-50%);
    -moz-transform: ranslateY(-50%);
    -webkit-transform: ranslateY(-50%);
    -ms-transform: ranslateY(-50%);
    right: 0;
    height: auto;
    width: 62px;
    background-color: #fff;
    z-index: 9999999999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.slidebar .serviceCon>div {
    border: 1px solid #DDD;
    border-top: none;
    width: 100%;
    height: 70px;
    font-size: 10px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.slidebar p {
    padding-top: 0;
    line-height: 14px;
}

.slidebar a>img {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.slidebar a {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    color: #000;
}

.slidebar .toTop {
    border: 1px solid #DDD;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
}

.slidebar .toTop>img {
    width: 40px;
    height: 40px;
}

.slidebar .toggleBar {
    border: 1px solid #DDD;
    border-top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.slidebar .toggleBar>img {
    width: 35px;
    height: auto;
}

.imgRotate {
    transform: rotate(360deg) scale(0.2);
    -webkit-transform: rotate(360deg) scale(0.2);
    -o-transform: rotate(360deg) scale(0.2);
    -ms-transform: rotate(360deg) scale(0.2);
    -moz-transform: rotate(360deg) scale(0.2);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}