body {
    padding: 0;
    margin: 0;
}
 
.blurDiv {
    position: relative;
    width: 877px;
    height: 672px;
    margin: 50px auto 0;
}
 
 
/* 设置初始化图片模糊效果 */
 
.blurImg {
    width: 870px;
    height: 672px;
    display: block;
    /* 滤镜：模糊程度20px */
    filter: blur(20px);
    /* 处理兼容性 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-filter: blur(20px);
}
 
 
/* 设置画布效果 */
 
.blurDiv #myCanvas {
    display: block;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}
 
 
/* 设置按钮效果 */
 
.blurDiv .button {
    display: block;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 105%;
    font-family: arial;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    z-index: 999;
}
 
.blurDiv #buttonReset {
    left: 7%;
    background-color: #c86814;
}
 
.blurDiv #buttonReset：hover {
    background-color: #ffb151;
}
 
.blurDiv #buttonShow {
    right: 7%;
    background-color: #ff2f2e;
}
 
.blurDiv #buttonShow:hover {
    background-color: #ff596b;
}